//- ** This is a sample of a pug template and how it uses the data passed to it from index.js.

doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body    
        h1 Video Games
        .cards 
            each video_game in data
                .card 
                    h2.card__name #{video_game.properties.name}
                    p.card__id #{"ID# " + video_game.id}
                    p.card__genre #{"Genre : " + video_game.properties.genre}
                    p.card__rating #{"Rating : " + video_game.properties.rating}
